// rounded-md shadow-lg items-center mx-auto p-6 space-x-4 max-w-2xl
.mobInfoWindow{
  border: 1px;
  border-style: solid;
  border-color: rgb(151, 151, 151);
  border-radius: 10px;
  box-shadow: 4px 1px 10px ;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 6px 6px 6px;
}

.mobData {
  display: flex;

  img {
    margin: auto auto auto auto;
    max-width: 10rem;
    max-height: 10rem;
  }
}

.mobStats {
  
  .mobName{
    font-size: 2rem;
    font-weight: bold;
  }
}